@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";
.element-atom,
.interactive-atom {
    margin: 0 !important;
}

.Cs{
	fill:#ED6300;
}
.CDC, .PDC{
	fill:#ffabdb;
}
.EAJ-PNV{
	fill:#91b52d;
}
.ECP, .UP{
	fill:#951d7a;
}
.EH.Bildu{
	fill:#004e3a;
}
.ERC-CATSÍ, .ERC{
	fill:#f5be2c;
}
.GBAI{
	fill:#ffe500;
}
.PCOE{
	fill:#0cdc78;
}
.PODEMOS-COMPROMÍS-EUPV{
	fill:#951d7a;
}
.PODEMOS-EN.MAREA-ANOVA-EU{
	fill:#951d7a;
}
.PODEMOS-IU-EQUO{
	fill:#951d7a;
}
.PP{
	fill:#1896d7;
}
.PSOE{
	fill:#c70000;
}
.CCa-PNC{
	fill:#FFE500;
}
.VOX{
	fill:#9C835F;
}
.PAC{
	fill:#FFE6EC;
}
.null{
	fill:#b5b5b5;
}


svg g{
	position:relative;
	float: left;
}